body {
  font-family: 'Montserrat Alternates', sans-serif;
}
main nav {
  margin-left: 18.8vw;
  padding-top: 1rem;
}
main nav .item-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  line-height: 27px;
  color: #000000;
}
main nav .item-nav.active {
  font-style: normal;
  font-weight: 900;
  color: #11C10E;
}
main nav .item-nav:hover {
  font-style: normal;
  font-weight: 900;
  color: #11C10E;
}
main section.home {
  background-image: url("../images/home/Group 34.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
main section.home .icon {
  padding-left: 47rem;
  padding-top: 16rem;
}
main section.home .title {
  margin-left: 22rem;
  height: 12rem;
}
main section.home .title h1.green {
  font-size: 230px;
  font-weight: bold;
  color: #11C10E;
}
main section.home .title h1.black {
  font-size: 230px;
  font-weight: bold;
  color: #000000;
}
main section.home .subtitle {
  padding-left: 22rem;
}
main section.home .subtitle .subtitle-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
main section.home .subtitle h1 {
  font-size: 230px;
  font-weight: bold;
  color: #000000;
  line-height: 10rem;
  padding-left: 41rem;
}
main section.home .btn-home {
  padding-left: 22rem;
}
main section.about h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 58rem;
}
main section.about .about-item {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
}
main section.about .btn-about {
  margin: 0 auto;
  padding: 4rem;
}
main section.preference h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 58rem;
}
main section.preference .card-pref {
  width: 35rem;
  padding: 1rem;
  background-size: cover;
  background-position: center center;
  margin: 0 auto 1rem;
}
main section.preference .card-pref h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  padding-bottom: 5rem;
}
main section.preference .card-pref p.text {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
  min-height: 135px;
  display: flex;
  align-items: self-end;
}
main section.preference .card-pref.red {
  background-image: url("../images/preference/red.jpg");
}
main section.preference .card-pref.green {
  background-image: url("../images/preference/green.jpg");
}
main section.preference .card-pref.orange {
  background-image: url("../images/preference/orange.jpg");
}
main section.preference .card-pref.yellow {
  background-image: url("../images/preference/yellow.jpg");
}
main section.preference .card-pref.brown {
  background-image: url("../images/preference/brown.jpg");
}
main section.preference .card-pref.violet {
  background-image: url("../images/preference/violet.jpg");
}
main .btn-preference {
  margin: 0 auto;
  padding: 4rem;
}
section.contact .input-form-text {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  color: black;
  height: 2rem;
}
section.contact .input-form-textarea {
  margin-bottom: 1rem;
  color: black;
}
section.contact .input-form-btn {
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
}
section.about-page h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 58rem;
}
section.about-page .btn-about-page {
  margin: 0 auto;
  padding: 4rem;
}
section.about-page .about-img-right {
  width: 35rem;
}
section.about-page .about-img-left {
  width: 35rem;
}
section.howuse-page h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 58rem;
}
section.howuse-page .card-use {
  height: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
section.howuse-page .card-use .use-icon {
  width: 2rem;
  margin-left: 1rem;
}
section.howuse-page .card-use .use-icon.active {
  width: 2rem;
  margin-left: 1rem;
  transform: rotate(180deg);
}
.card-use.active {
  padding: 2rem;
  height: auto !important;
}
.card-uses {
  background-image: url("../images/use/back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 2rem 2rem 12rem;
  height: auto !important;
}
.card-uses .btn-howuse-page {
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 45px;
  color: #FFFFFF;
}
.card-uses .howuse-input {
  border: 1px solid #000000;
  height: 45px;
  width: 20rem;
}
section.product-page h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 58rem;
}
section.product-page h5 {
  min-height: 3rem;
  display: flex;
  align-items: center;
}
section.product-page .product-btn {
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #FFFFFF;
}
section.product-page .card-product {
  width: 20rem;
  padding: 1rem;
}
section.product-page .product-title {
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  font-size: 14px;
}
section.product-page .product-title::after {
  content: "...Читать дальше";
  position: absolute;
  top: 65px;
  width: 50%;
  background: #FFFFFF;
  text-align: end;
  left: 9rem;
  font-size: 13px;
  height: 3rem;
}
section.product-page .product-title:hover::after {
  cursor: pointer;
  font-weight: bold;
}
section.products-page h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 58rem;
}
section.products-page .products-btn {
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #FFFFFF;
}
footer {
  background: #1C1C1C;
  color: #FFFFFF;
}
.main-btn-green {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  display: block;
  align-items: center;
  color: #11C10E;
  background: transparent;
  border: none;
  text-decoration: none;
  width: max-content;
}
.main-btn-green .btn-img {
  width: 35px;
  margin-left: 10px;
}
.main-btn-green:hover {
  color: #008f00;
}
section.contact-page .input-form-text {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  color: black;
  height: 2rem;
}
section.contact-page .input-form-textarea {
  margin-bottom: 1rem;
  color: black;
}
section.contact-page .input-form-btn {
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
}
/*# sourceMappingURL=index.css.map */